<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>bubble_sort</title>
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
</head>
<body>

    <style></style>
    <script>

        // здесь происходит замена переменной
        const history = {{history | safe}};

        // ниже нужно реализовать функции для визуализации
        function name(params) {
            
        }
    </script>
</body>
</html>